In [2]:
pip install pandas

Requirement already satisfied: pandas in ./venv/lib/python3.12/site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in ./venv/lib/python3.12/site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import os

In [4]:
print(os.listdir())

['venv', '.ipynb_checkpoints', 'pandas.ipynb', 'weather_data.csv']

In [5]:
df=pd.read_csv("weather_data.csv")

In [6]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [7]:
rows,columns=df.shape

In [8]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [9]:
df.head(1)

        day  temperature  windspeed event
0  1/1/2017           32          6  Rain

In [10]:
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [11]:
df[2:6]

        day  temperature  windspeed  event
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [12]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [13]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [14]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df[['day','event','windspeed']]

        day  event  windspeed
0  1/1/2017   Rain          6
1  1/2/2017  Sunny          7
2  1/3/2017   Snow          2
3  1/4/2017   Snow          7
4  1/5/2017   Rain          4
5  1/6/2017  Sunny          2

In [16]:
df['temperature'].max()

np.int64(35)

In [17]:
df['temperature'].min()

np.int64(24)

In [18]:
df['temperature'].mean()

np.float64(30.333333333333332)

In [19]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [23]:
df[df.temperature >30]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [31]:
df[['day','temperature','event','windspeed']][df.windspeed == df['windspeed'].max()]

        day  temperature  event  windspeed
1  1/2/2017           35  Sunny          7
3  1/4/2017           24   Snow          7

In [33]:
df['windspeed'].max()

np.int64(7)

In [37]:
df[['day','temperature','event','windspeed']][df.temperature == df['temperature'].min()]

        day  temperature event  windspeed
3  1/4/2017           24  Snow          7

In [38]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [50]:
df.set_index('day',inplace=True) #replace index by day

KeyError: "None of ['day'] are in the columns"

In [47]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [49]:
df.loc['1/1/2017']

temperature      32
windspeed         6
event          Rain
Name: 1/1/2017, dtype: object

In [51]:
df.reset_index(inplace=True) # restore index by number

In [52]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny


# Python Pandas Tutorial 3: Different Ways Of Creating DataFrame
#### How to create dataframe?
#### Create dataframe using read_csv() method 
#### Create dataframe using read_excel() method
#### Create dataframe using python dictionary DataFrame() method
#### Create dataframe using tuples list DataFrame() method
#### Create dataframe using the list of dictionary DataFrame() method
#### Other ways to create dataframe