# Tutorial 5: Handle Missing Data: fillna, dropna, interpolate

In [1]:
import pandas as pd
import os

In [2]:
print(os.listdir())

['weather_data.xlsx', 'linear regression.ipynb', 'Tutorial 4.ipynb', 'venv', '.ipynb_checkpoints', 'new_weather.csv', 'pandas.ipynb', 'Tutorial 3.ipynb', 'Tutorial 5.ipynb', 'weather_data.csv']

In [3]:
df=pd.read_excel("weather_data.xlsx","Sheet1")

In [13]:
df

   index        day tempreture  event
0      1 2025-01-01         20  sunny
1      2 2025-01-02        NaN  sunny
2      3 2025-01-03         25    NaN
3      4 2025-01-04        NaN  windy