
# Python Pandas Tutorial 3: Different Ways Of Creating DataFrame
#### How to create dataframe?
#### Create dataframe using read_csv() method 
#### Create dataframe using read_excel() method
#### Create dataframe using python dictionary DataFrame() method
#### Create dataframe using tuples list DataFrame() method
#### Create dataframe using the list of dictionary DataFrame() method
#### Other ways to create dataframe
###### https://youtu.be/3k0HbcUGErE?si=6vo8E2oQdMLJ4Qo6

In [8]:
import pandas as pd
import os

print(os.listdir())

['venv', '.ipynb_checkpoints', 'pandas.ipynb', 'Tutorial 3.ipynb', 'weather.xlsx', '.~lock.weather.xlsx#', 'weather_data.csv']

In [5]:
df=pd.read_csv('weather_data.csv')

In [6]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [12]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 kB 95.3 kB/s eta 0:00:0031m95.5 kB/s eta 0:00:01
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [16]:
df2=pd.read_excel('weather_data.xlsx','Sheet1')
df2

   index        day  tempreture  event
0      1 2025-01-01          20  sunny
1      2 2025-01-02          23  sunny
2      3 2025-01-03          25  windy
3      4 2025-01-04          26  windy

In [17]:
weather_data={
    'day':['01/01/2025','01/02/2025','01/03/2025','01/04/2025'],
    'temprature':[20,23,26,28],
    'event':['sunny','sunny','windy','windy']
                  
    
}

In [21]:
df3=pd.DataFrame(weather_data)
df3

          day  temprature  event
0  01/01/2025          20  sunny
1  01/02/2025          23  sunny
2  01/03/2025          26  windy
3  01/04/2025          28  windy